@font-face {
  font-family: "Italiana";
  src: url("/assets/fonts/Italiana-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LaBelle";
  src: url("/assets/fonts/LaBelleAurore-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.site-container {
  padding: 30px 30px 0;
}

.content-container {
  padding: 0 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  font-weight: 400;
  font-family: "Italiana";
  font-size: 30px;
}

.cart-image {
  width: 50px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
}

.facebook,
.insta,
.twitter{
  width: 50px;
}

.footer-images {
  display: flex;
  gap:35px;
}

.footer-content {
  display: flex;
  gap:147px
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-title {
  font-family: 'LaBelle';
  font-size: 60px;
}

.hero-btn {
  color: white;
  background-color: black;
  font-size: 30px;
  outline: none;
  font-family: 'NotoSans';
  border-radius: 0 25px 0 25px;
  border: none;
}

.hero-image {
  width:800px;
}

.bread-image {
  width: 500px;
} 

